/node_modules
/public/hot
/public/storage
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/public/uploads/business_logos
/public/uploads/documents
/public/uploads/img
/public/uploads/invoice_logos
/public/uploads/UltimatePOS
/dbdata
Dockerfile
docker-compose.yml
*.sql
/storage/*
/storage/app/public
/storage/logs
/storage/logs/*