/node_modules
/public/hot
/public/storage
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/public/uploads/business_logos
/public/uploads/documents
/public/uploads/img
/public/img
!/public/img/logo.jpg

/public/uploads/invoice_logos
/public/uploads/UltimatePOS
/dbdata
Dockerfile
docker-compose.yml
*.sql
/storage/*
/storage/app/public
storage/framework/cache/data/85/5f/855f92484c8c414d36c1b25cb24876e30229cbbf
.qodo
